
<html>
<head></head>
<body>
<form name="education" action="http://localhost:8080/education" method="post" id="education">
  Start datum:<br>
  <input type="text" name="startDate"><br>
  Eind datum:<br>
  <input type="text" name="endDate"><br>
  Titel:<br>
  <input type="text" name="title"><br>
  Onderwijs instelling:<br>
  <input type="text" name="instituion"><br>
  Plaats:<br>
  <input type="text" name="city"><br>
  AccountEmail:<br>
  <input type="text" name="email"><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>


