<html>
<head></head>
<body>

  <form name="newCV" action="http://localhost:8080/account/initial" method="post" id="newCV" enctype='application/json'>
  Name:<br>
  <input type="text" name="name"><br>
  email:<br>
  <input type="text" name="email"><br>
  <input type="submit" value="Build new CV">
</form>
  
  
    UserInfo: <a href="userinfo.html">Fill in Userinfo</a><br>
    Profile Summery: <a href="profile.html">Fill in profile summery</a><br>
	Vaardigheden: <a href="skill.html">Voeg vaardigheid toe</a><br>
	werkervaring: <a href="project.html">Voeg werkervaring toe</a><br>
	persoonlijke projecten: <a href="personalproject.html">Voeg persoonlijke project toe</a><br>
	Opleding: <a href="education.html">Voeg Opleding toe</a><br>
	Talen: <a href="language.html">Voeg Talen toe</a><br>
	Interreses & Hobbies: <a href="interest.html">Voeg Interreses & Hobbies toe</a><br>

<br>Show: <br>
	
	<a href="http://localhost:8080/account/aa">Show account</a><br>
	<a href="http://localhost:8080/skill/aa">Show skills</a><br>
	<a href="http://localhost:8080/project/aa">Show project(s)</a><br>
	<a href="http://localhost:8080/personalproject/aa">Show personal project(s)</a><br>
	<a href="http://localhost:8080/education/aa">Show opleding(en)</a><br>
	<a href="http://localhost:8080/language/aa">Show talen</a><br>
	<a href="http://localhost:8080/interest/aa">Show interesse(s)</a><br>
</body>
</html>

