
<html>
<head></head>
<body>
<form name="personalProject" action="http://localhost:8080/personalproject" method="post" id="personalProject">
  Start datum:<br>
  <input type="text" name="startDate"><br>
  Eind datum:<br>
  <input type="text" name="endDate"><br>
  Titel:<br>
  <input type="text" name="name"><br>
  Vaardigheden:<br>
  <input type="text" name="skills"><br>
  Personal project samenvatting:<br>
  <textarea name="description" form="personalProject" ></textarea><br>
  AccountEmail:<br>
  <input type="text" name="email"><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>



