<html>
<head></head>
<body>
<form name="project" action="http://localhost:8080/project" method="post" id="project">
  Project ID:<br>
  <input type="number" name="id"><br>
  Start datum:<br>
  <input type="text" name="startDate"><br>
  Eind datum:<br>
  <input type="text" name="endDate"><br>
  Functie Titel:<br>
  <input type="text" name="jobTitle"><br>
  Bedrijf:<br>
  <input type="text" name="company"><br>
  Plaats:<br>
  <input type="text" name="city"><br>
  Vaardigheden:<br>
  <input type="text" name="skills"><br>
  Images:<br>
  <input type="text" name="image"><br>
  Project samenvatting:<br>
  <textarea name="description" form="project" ></textarea><br>
  AccountEmail:<br>
  <input type="text" name="email"><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>
