<html>
<head></head>
<body>
<form name="userInfo" action="http://localhost:8080/account/abc" method="get" id="userInfo">
  Function Titel:<br>
  <input type="text" name="functionTitle"><br>
  Last name:<br>
  <input type="text" name="name"><br>
  Woonplaats:<br>
  <input type="text" name="city"><br>
  Geboortedatum:<br>
  <input type="text" name="birthday"><br>
  Nationaliteit:<br>
  <input type="text" name="nationalty"><br>
  Rijbewijs:<br>
  <input type="text" name="drivinglicence"><br>
  Keywords:<br>
  <input type="text" name="keywords"><br>
  Images:<br>
  <input type="text" name="images"><br>
  AccountEmail:<br>
  <input type="text" name="email"><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>